*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Scroll */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #161616;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #161616;
  }
  ::-webkit-scrollbar-track:active {
    background: #1a1a1a;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

/* -------- */

body{
    background-color: rgb(22, 22, 22);
}

.background-welcome-area{
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: -1;
    background-image: url(./../img/background002.jpeg);
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-size: cover;
    filter: blur(6px);
    opacity: .5;
}

.welcome-area{
    width: 100%;
    height: 85%;
}

.welcome-area ul{
    display: inline-flex;
    list-style: none;
}

.welcome-area ul li{
    margin-right: 1rem;
}

.welcome-area ul .logo{
    width: 120px;
    height: 120px;
    background-image: url(./../img/logo001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome-area ul .title{
    padding: 0;
    margin-top: .9rem;
}

.welcome-wave{
    position: absolute;
    top: 60%;
    z-index: -1;
}

.welcome-area .title{
    padding: 4rem;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.48);
}

.welcome-area .title .cep-title{
    color: #28156e;
}

.welcome-area .title .RioPequeno{
    color: #a31e17;
}

.welcome-area .title .phrase{
    color: white;
}

.cultos{
    margin-top: 6%;
}

.welcome-area .cultos .hours{
    list-style: none;
    display: inline-flex;
    text-align: center;
    color: white;
}

.welcome-area .cultos .hours li{
    margin: 1rem;
    padding: .5rem;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

.welcome-area .cultos .hours li:hover{
    cursor: default;
    transition: linear .3s;
    background-color: rgba(255, 255, 255, 0.199);
}

/* Como chegar */

.location-area{
    margin-top: 18%;
    background-color: #ffffff;
}

.location-area .google-maps{
    margin: 2rem;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.27);
    width: 500px;
    height: 500px;
}

.location-area .map-div .line-map{
    width: 500px;
    height: 500px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000; 
    position: absolute;
    transform: translate(88% , -110%);
    z-index: 0;
    border-left-style: none;
    border-bottom-style: none;
}

.location-area .copy-location{
    list-style: none;
    display: inline-flex;
}

.location-area .copy-location .title_copy{
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #161616;
    color: #ffffff;
    user-select: none;
    font-weight: bolder;
}

.location-area .copy-location .title_copy:hover{
    cursor: pointer;
    transition: linear .3s;
    background-color: #2e2e2e;
}

.location-area .copy-location .location_div{
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

/* Birthday Area */

.birthday-area{
    height: auto;
    padding-bottom: 5rem;
}

.birthday-area h2{
    color: #ffffff;
    margin-top: -2rem;
    margin-left: 2rem;
}

.birthday-area .birthday-person{
    color: #ffffff;
    list-style: none;
    margin: 2rem;
    font-weight: bolder;
    display: inline-flex;
    flex-wrap: wrap;
}

.birthday-area .birthday-person li{
    margin: .5rem;
}

.birthday-area .birthday-person li .info-ul{
    display: inline-flex;
    list-style: none;
}

.birthday-area .birthday-person li .info-ul li .circle{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.birthday-area .birthday-person li .info-ul .info-person .ul-info-person{
    list-style: none;
    margin-top: 2rem;
}

.birthday-wave{
    width: 100%;
    height: 140px;
    background-image: url(./../img/silhouette001.png);
    background-size: 36%;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateY(-100%);
}

.birthday-area .aviso{
    display: none;
    color: #ffffff;
    margin-bottom: 4rem;
    list-style: none;
}

.birthday-area .aviso .cake{
    width: 100px;
    height: 100px;
    background-image: url(./../icon/birthday.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Proósito Area */

.propósito-area{
    width: 100%;
    height: 900px;
    background-color: #ffffff;
}

.propósito-area h2{
    padding: 2rem;
}

.propósito-area .img-proposito{
    transform: translateY(3rem);
    width: 620px;
    height: 400px;
    background-image: url(./../img/img001.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .8;
}

.propósito-area .text{
    width: 500px;
    height: auto;
    text-align: center;
    position: absolute;
    transform: translate(500px, -320px);
}

.propósito-area .tags{
    margin-top: 8rem;
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
}

.propósito-area .tags li{
    width: 200px;
    height: 60px;
}

.propósito-area .tags .family{
    background-image: url(./../img/somosfamilia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.propósito-area .tags .focus{
    background-image: url(./../img/focamosnoproximo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.propósito-area .tags .continent{
    background-image: url(./../img/conquistandocontinentes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.propósito-area .tags .word{
    background-image: url(./../img/foconapalavra.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.propósito-area .tags .help{
    background-image: url(./../img/nãodesistir.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.israel-wave{
    width: 100%;
    height: 200px;
    background-image: url(./../img/israel.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(-200px);
    position: absolute;
}

/*--------------*/

/* Footer */

footer{
    width: 100%;
    height: 260px;
    color: #ffffff;
    background-color: rgba(14, 14, 14);
}

footer .links{
    list-style: none;
    padding: 2rem;
    color: white;
}

footer .links li{
    margin-top: .2rem;
}

footer .links li a{
    color: #ffffff;
    text-decoration: none;
}

footer .links li a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

footer .cnpj{
    margin-top: -1rem;
}

footer .icons{
    list-style: none;
    display: inline-flex;
    margin-left: 2rem;
}

footer .icons li{
    width: 30px;
    height: 30px;
    margin-right: 2rem;
    cursor: pointer;
}

footer .icons .instagram{
    background-image: url(./../icon/instagram.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .icons .youtube{
    background-image: url(./../icon/youtube.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .icons .da{
    width: 100px;
    background-image: url(./../icon/da001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}