*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(138, 43, 226);
}

.background{
    width: 100%;
    height: 100%;
    background-image: url(./../img/IMG_20210919_183454_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: .2;
    filter: blur(2px);
    top: 0;
    position: absolute;
}

.login{
    padding-top: 3.5rem;
    margin: 6rem 0rem 0rem 0rem;
    width: 500px;
    height: 400px;
    border-radius: 30px;
    background-color: #ffffffd0;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22);
}

.login .logo{
    width: 80px;
    height: 80px;
    background-image: url(./../img/logo001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.people_icon{
    width: 17px;
    height: 17px;
    padding: 10px;
    background-image: url(./../icon/Sample_User_Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.pass_icon{
    width: 17px;
    height: 17px;
    padding: 10px;
    background-image: url(./../icon/password-22.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.login ul{
    list-style: none;
    margin-top: 2rem;
}

.login ul li input{
    margin: .5rem 0rem 1rem 0rem;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: .5rem;
}

.login ul li .login-btn{
    width: 100px;
    padding: 1rem;
    background-color: #000;
    border-radius: 30px;
    color: #fff;
    font-weight: bolder;
    user-select: none;
}

.login ul li .login-btn:hover{
    transition: linear .3s;
    background-color: #1d1d1d;
    cursor: pointer;
}